#editor, #editor1, #editor2, #editor3, .ql-editor {
  height: 17vw;
  /* width: 80vw; */
}

body {
  background-color: #494949;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgb(73 73 73) !important;
  color: white;
}
.p-3.shadow.align-items-center {
  background-color: #212529;
  color: white;
}
span.ql-picker-label {
  color: white;
  background-color: #212529;
}
.ql-toolbar.ql-snow {
  background-color: #212529;
}
div#nav-tabContent {
  background-clip: padding-box;
  box-shadow: inset 0px 0px 500px #080808;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #434343;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #ffffff;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
input#title {
  background-color: #494949;
}
::placeholder{
  color:white;
  opacity: 1;

}
#editor1{
  filter: invert(1);
}
.ql-snow .ql-stroke {
  fill: none;
  stroke: #fffdfd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.ql-editor {
  background-color: #494949;
}
