<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href=" {{ url_for('static', filename='css/entry-styles.css') }} "
    />

    
    <link rel="icon" href="../static/images/icons8-book-96.png" />
  </head>
  <body
    class="img js-fullheight"
    style="background-image: url(../static/images/img.png)"
  >
    <section class="ftco-section" style="height: 100vh">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
              <h3 class="mb-4 text-center">Have an Account?</h3>
              <form method="post" class="signin-form">
                <div class="form-group">
                  <input
                    name="username"
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    id="password-field0"
                    name="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    required
                  />
                  <span
                    id="password-span0"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                    onclick="for_span('password-field0', 'password-span0')"
                  ></span>
                </div>
                <div class="my-3" style="color: rgb(207, 0, 0)">
                  {% with messages = get_flashed_messages() %} {% if messages %}
                  <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %} {% endwith %}
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary submit px-3"
                  >
                    Sign In
                  </button>
                </div>
              </form>
              <a href="/sign-up" class="link-dark"
                ><p id="sign-up-link" class="w-100 text-center">
                  &mdash; Or Sign Up &mdash;
                </p></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="{{ url_for('static', filename ='js/main.js')}}"></script>
  </body>
</html>
